/NgwUnitySample/Assets/ngw/NativeMethods.cs.meta
/NgwUnitySample/Assets/ngw/NativeMethods.cs
/NgwUnitySample/Assets/Plugins.meta
/NgwUnitySample/Assets/Plugins
/NgwUnitySample/Library
/NgwUnitySample/Temp
/NgwUnitySample/.vs
/NgwUnitySample/*.sdf
/NgwUnitySample/*.opensdf
